# Prepatation

## Instaling Libararies

In [2]:
import pandas as pd
import pandas_datareader.data as web
import numpy as np
import matplotlib.pyplot as plt
import datetime
import yfinance as yf
import statsmodels.stats.api as sms
from statsmodels.compat import lzip
from scipy.optimize import minimize
import pytz
import statsmodels.api as sm
from statsmodels.tsa.stattools import adfuller
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.seasonal import STL
import seaborn as sns
# from sklearn.model_selection import TimeSeriesSplit
import statsmodels.tsa.api as smt
from copy import deepcopy
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.stattools import arma_order_select_ic
import warnings
warnings.filterwarnings("ignore")
import statsmodels.tools.eval_measures
import scipy 
from scipy import stats
import time
from matplotlib.dates import DateFormatter
from matplotlib.dates import YearLocator, DateFormatter
from statsmodels.tsa.api import VAR

In [9]:
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', None)

## Inporting data

In [3]:
df_main = pd.read_excel('./RAW_DATA.xlsx')

# Data Formatting

In [10]:
df_main

     Unnamed: 0        BTCUSD Unnamed: 2        DXY Unnamed: 4      SPX
0    2014-09-17    457.334015 2014-09-17  84.699997 2014-09-17  2001.57
1    2014-09-18    424.440002 2014-09-18  84.320000 2014-09-18  2011.36
2    2014-09-19    394.795990 2014-09-19  84.800003 2014-09-19   2010.4
3    2014-09-20    408.903992 2014-09-21        NaN 2014-09-22  1994.29
4    2014-09-21    398.821014 2014-09-22  84.669998 2014-09-23  1982.77
...         ...           ...        ...        ...        ...      ...
3332 2023-11-01  35437.253906        NaT        NaN        NaT      NaN
3333 2023-11-02  34938.242188        NaT        NaN        NaT      NaN
3334 2023-11-03  34732.324219        NaT        NaN        NaT      NaN
3335 2023-11-04  35082.195313        NaT        NaN        NaT      NaN
3336 2023-11-05  35081.945313        NaT        NaN        NaT      NaN

[3337 rows x 6 columns]

In [5]:
df_main.head(10)

  Unnamed: 0      BTCUSD Unnamed: 2        DXY Unnamed: 4      SPX
0 2014-09-17  457.334015 2014-09-17  84.699997 2014-09-17  2001.57
1 2014-09-18  424.440002 2014-09-18  84.320000 2014-09-18  2011.36
2 2014-09-19  394.795990 2014-09-19  84.800003 2014-09-19   2010.4
3 2014-09-20  408.903992 2014-09-21        NaN 2014-09-22  1994.29
4 2014-09-21  398.821014 2014-09-22  84.669998 2014-09-23  1982.77
5 2014-09-22  402.152008 2014-09-23  84.660004 2014-09-24   1998.3
6 2014-09-23  435.790985 2014-09-24  85.050003 2014-09-25  1965.99
7 2014-09-24  423.204987 2014-09-25  85.199997 2014-09-26  1982.85
8 2014-09-25  411.574005 2014-09-26  85.639999 2014-09-29   1977.8
9 2014-09-26  404.424988 2014-09-28        NaN 2014-09-30  1972.29

In [16]:
# 元のデータフレームを作成
df_original = pd.DataFrame(df_main)

# インデックスとして使う日付の範囲を作成
date_range = pd.date_range(start='2014-09-17', end=pd.to_datetime('today'))

# インデックス用の空のデータフレームを作成
df_indexed = pd.DataFrame(index=date_range)

# 元データから新しいデータフレームに日付に対応するデータをマッピング
df_indexed['BTCUSD'] = df_original.set_index('Unnamed: 0')['BTCUSD']
df_indexed['DXY'] = df_original.set_index('Unnamed: 2')['DXY']
df_indexed['SPX'] = df_original.set_index('Unnamed: 4')['SPX']

# NaNをNoneに変換
df_indexed = df_indexed.where(pd.notnull(df_indexed), None)

print(df_indexed)

ValueError: cannot reindex on an axis with duplicate labels

In [15]:
df = df_main.copy()

# 'Date' 列を作成し、最初の日付の列の値を代入します。
df['Date'] = df['Unnamed: 0']

# 新たな日付列で対応する日付がない場合はNoneを代入します。
df['BTCUSD'] = np.where(df['Date'] == df['Unnamed: 0'], df['BTCUSD'], None)
df['DXY'] = np.where(df['Date'] == df['Unnamed: 2'], df['DXY'], None)
df['SPX'] = np.where(df['Date'] == df['Unnamed: 4'], df['SPX'], None)

# 'Date' 列をインデックスに設定します。
df.set_index('Date', inplace=True)

# 不要な列を削除します。
df.drop(columns=['Unnamed: 0', 'Unnamed: 2', 'Unnamed: 4'], inplace=True)

# 結果を表示します。
print(df)

                  BTCUSD        DXY      SPX
Date
2014-09-17    457.334015  84.699997  2001.57
2014-09-18    424.440002      84.32  2011.36
2014-09-19     394.79599  84.800003   2010.4
2014-09-20    408.903992       None     None
2014-09-21    398.821014       None     None
...                  ...        ...      ...
2023-11-01  35437.253906       None     None
2023-11-02  34938.242188       None     None
2023-11-03  34732.324219       None     None
2023-11-04  35082.195313       None     None
2023-11-05  35081.945313       None     None

[3337 rows x 3 columns]

In [13]:
df.head(100)

                BTCUSD        DXY      SPX
Date
2014-09-17  457.334015  84.699997  2001.57
2014-09-18  424.440002      84.32  2011.36
2014-09-19   394.79599  84.800003   2010.4
2014-09-20  408.903992       None     None
2014-09-21  398.821014       None     None
2014-09-22  402.152008       None     None
2014-09-23  435.790985       None     None
2014-09-24  423.204987       None     None
2014-09-25  411.574005       None     None
2014-09-26  404.424988       None     None
2014-09-27  399.519989       None     None
2014-09-28     377.181       None     None
2014-09-29   375.46701       None     None
2014-09-30     386.944       None     None
2014-10-01   383.61499       None     None
2014-10-02  375.071991       None     None
2014-10-03  359.511993       None     None
2014-10-04  328.865997       None     None
2014-10-05   320.51001       None     None
2014-10-06   330.07901       None     None
2014-10-07  336.187012       None     None
2014-10-08  352.940002       None     None
2014-10-09  365.026001       None     None
2014-10-10  361.562012       None     None
2014-10-11  362.299011       None     None
2014-10-12  378.549011       None     None
2014-10-13  390.414001       None     None
2014-10-14  400.869995       None     None
2014-10-15   394.77301       None     None
2014-10-16     382.556       None     None
2014-10-17  383.757996       None     None
2014-10-18  391.441986       None     None
2014-10-19   389.54599       None     None
2014-10-20  382.845001       None     None
2014-10-21  386.475006       None     None
2014-10-22   383.15799       None     None
2014-10-23  358.416992       None     None
2014-10-24  358.345001       None     None
2014-10-25  347.270996       None     None
2014-10-26   354.70401       None     None
2014-10-27  352.989014       None     None
2014-10-28  357.618011       None     None
2014-10-29  335.591003       None     None
2014-10-30  345.304993       None     None
2014-10-31  338.321014       None     None
2014-11-01  325.748993       None     None
2014-11-02  325.891998       None     None
2014-11-03  327.553986       None     None
2014-11-04  330.492004       None     None
2014-11-05  339.485992       None     None
2014-11-06  349.290009       None     None
2014-11-07  342.415009       None     None
2014-11-08  345.488007       None     None
2014-11-09  363.264008       None     None
2014-11-10  366.924011       None     None
2014-11-11  367.695007       None     None
2014-11-12  423.561005       None     None
2014-11-13  420.734985       None     None
2014-11-14  397.817993       None     None
2014-11-15  376.132996       None     None
2014-11-16  387.881989       None     None
2014-11-17   387.40799       None     None
2014-11-18  375.197998       None     None
2014-11-19  380.554993       None     None
2014-11-20  357.839996       None     None
2014-11-21  350.847992       None     None
2014-11-22  352.920013       None     None
2014-11-23  367.572998       None     None
2014-11-24  376.901001       None     None
2014-11-25  375.347992       None     None
2014-11-26  368.369995       None     None
2014-11-27  369.670013       None     None
2014-11-28  376.446991       None     None
2014-11-29  375.490997       None     None
2014-11-30  378.046997       None     None
2014-12-01  379.244995       None     None
2014-12-02  381.315002       None     None
2014-12-03   375.01001       None     None
2014-12-04  369.604004       None     None
2014-12-05  376.854004       None     None
2014-12-06  374.785004       None     None
2014-12-07  375.095001       None     None
2014-12-08  361.908997       None     None
2014-12-09  352.218994       None     None
2014-12-10   346.36499       None     None
2014-12-11  350.506012       None     None
2014-12-12  352.541992       None     None
2014-12-13  347.376007       None     None
2014-12-14  351.631989       None     None
2014-12-15  345.345001       None     None
2014-12-16  327.062012       None     None
2014-12-17  319.776001       None     None
2014-12-18  311.395996       None     None
2014-12-19  317.842987       None     None
2014-12-20  329.955994       None     None
2014-12-21  320.842987       None     None
2014-12-22  331.885986       None     None
2014-12-23  334.571991       None     None
2014-12-24  322.533997       None     None
2014-12-25  319.007996       None     None

# Data Analysis